{% extends 'stormstats/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <br><h2>About</h2>
    <body>
        Stormstats was created as a school project with the goal of growing into a useful reference for advanced statistics and hockey domain data science.<br>
        <br>
        Stormstats is independently maintained and is in no way affiliated or endorsed by either the Carolina Hurricanes nor the National Hockey League.<br>
        <br>
        Current Data Sources:
        <ul>
            <li>NHL Public API: No official documentation exists but an unofficial guide can be found <a href=https://gitlab.com/dword4/nhlapi/-/blob/master/stats-api.md>here</a>.</li>
        </ul>
        Recommended Sites:
        <ul>
            <li><a href=http://moneypuck.com/>Moneypuck</a></li>
            <li><a href=https://evolving-hockey.com/?>Evolving-Hockey</a></li>
            <li><a href=https://www.capfriendly.com/>CapFriendly</li>
        </ul>
    </body>
{% endblock content %}
