{% extends 'stormstats/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h2>Home</h2>
    <body>
        Stormstats Home Page
        <div id="container"></div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/dumbbell.js"></script>
        <script src="https://code.highcharts.com/modules/lollipop.js"></script>
        <script>
            Highcharts.chart('container', {{ chart|safe }});
        </script>
    </body>
{% endblock content %}