{% extends 'stormstats/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h2>Home</h2>
    <body>
        Stormstats Home Page
       <div id="container" style="border-color: black;"></div>
       <script src="https://code.highcharts.com/highcharts.src.js"></script>
       <script>
            Highcharts.chart('container', {
                chart: {
                    type: 'column',
                    borderColor: 'black',
                    borderWidth: 2
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Roster Ages'
                },
                yAxis: {
                    title: {
                        text: "Age"
                    }
                },
                xAxis: {
                    title: {
                        text: "Player"
                    },
                    categories: {{ names|safe }}
                },
                series: [{
                    name: 'Ages',
                    data: {{ ages }},
                    color: 'red'
                }]
            });
        </script>
    </body>
{% endblock content %}