{% extends 'stormstats/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<script>
    $(document).ready(function() {
        $('#roster').dataTable({
            "pageLength": 30
        });
    });
</script>

<h2>Roster</h2>
        Stormstats Roster Page<br>
        <div class="table-responsive">
            <table class="table table-dark table-hover" id="roster"><caption>Roster</caption>
                <thead>
                    <tr>
                        <th id="N">Name</th>
                        <th id="J">Jersey</th>
                        <th id="P">Position</th>
                        <th id="A">Age</th>
                        <th id="H">Height</th>
                        <th id="W">Weight</th>
                        <th id="BP">Birth Place</th>
                        <th id="BD">Birthday</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                <tr>
                    <td headers="N">{{ player.name }}</td>
                    <td headers="J">{{ player.jersey }}</td>
                    <td headers="P">{{ player.position }}</td>
                    <td headers="A">{{ player.age }}</td>
                    <td headers="H">{{ player.height_str }}</td>
                    <td headers="W">{{ player.weight }}</td>
                    <td headers="BP">{{ player.birthplace }}</td>
                    <td headers="BD">{{ player.birthdate }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><br>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
        <script src="https://code.highcharts.com/maps/highmaps.js"></script>
        <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#hwtab">Roster Height vs. Weight</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#bptab">Player Birthplace Map</a></li>
        </ul>
        <div class="tab-content">
            <div id="hwtab" class="tab-pane active">
                <div id="container1"></div>
                <script>
                Highcharts.chart('container1', {{ hw_chart|safe }});
                </script>
            </div>
            <div id="bptab" class="tab-pane">
                <div id="container2"></div>
                <script>
                Highcharts.mapChart('container2', {{ map_chart|safe }});
                </script>
            </div>
        </div>

{% endblock content %}