{% extends 'stormstats/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<script>
    $(document).ready(function() {
        $('#played-games').dataTable({
            "columnDefs" : [{"type":"date", "targets":0}],
            "order": [[0, "desc"]]
        });
    });
</script>

    <h2>Schedule</h2>
    <body>
        Stormstats Schedule Page<br>
        <div class="table-responsive">
            <table class="table table-dark table-hover" id="played-games"><caption>Played Games</caption>
                <thead>
                    <tr>
                        <th id="D">Date</th>
                        <th id="T">Time</th>
                        <th id="O">Opponent</th>
                        <th id="L">Location</th>
                        <th id="R">Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in played_games %}
                <tr>
                    <td headers="D">{{ game.date }}</td>
                    <td headers="T">{{ game.time }}</td>
                    <td headers="O">{{ game.opponent }}</td>
                    <td headers="L">{{ game.location }}</td>
                    <td headers="R">{{ game.result }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><br>

        <script>
            $(document).ready(function() {
                $('#remaining-games').dataTable({
                    "columnDefs" : [{"type":"date", "targets":0}],
                    "order": [[0, "asc"]]
                });
            });
        </script>

        <div class="table-responsive">
            <table class="table table-dark table-hover" id="remaining-games"><caption>Remaining Games</caption>
                <thead>
                    <tr>
                        <th id="D">Date</th>
                        <th id="T">Time</th>
                        <th id="O">Opponent</th>
                        <th id="L">Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in remaining_games %}
                <tr>
                    <td headers="D">{{ game.date }}</td>
                    <td headers="T">{{ game.time }}</td>
                    <td headers="O">{{ game.opponent }}</td>
                    <td headers="L">{{ game.location }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
{% endblock content %}