{% extends 'stormstats/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<br><h2>Skater Stats</h2>
<body>
    The Skater Stats features include tables and visualizations detailing attributes for skaters. Attribute details can be found in the Skater Stats Attributes tab. Skater tables:
        
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#basictab">Basic Skater Stats</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exptab">Expanded Skater Stats</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#atttab">Skater Stats Attributes</a></li>
        </ul>
        <script>
            $(document).ready(function() {
                $('table.table').DataTable({
                    responsive: true,
                    scrollY: 400,
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    fixedColumns: true,
                    fixedHeader: true,
                    info: false,
                    oLanguage: {
                        sSearch: "Search the Table: "
                    }
                });

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    $($.fn.dataTable.tables(true)).DataTable()
                        .columns.adjust()
                        .responsive.recalc();
                });
            });
        </script>
        <div class="tab-content">
            <div id="basictab" class="tab-pane active">
                <table id="basic-skater-stats" class="table table-dark table-hover" cellspacing="0" width="100%"><caption>Basic Stats</caption>
                    <thead>
                        <tr>
                            <th id="P">Player</th>
                            <th id="GP">Games</th>
                            <th id="G">Goals</th>
                            <th id="A">Assists</th>
                            <th id="P">Points</th>
                            <th id="PIM">PIM</th>
                            <th id="PM">+/-</th>
                            <th id="T">TOIPG</th>
                            <th id="PPG">PPG</th>
                            <th id="PPA">PPA</th>
                            <th id="SHG">SHG</th>
                            <th id="SHA">SHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for skaterstat in skaterstats %}
                        <tr>
                            <td headers="P">{{ skaterstat.player.name }}</td>
                            <td headers="GP">{{ skaterstat.games }}</td>
                            <td headers="G">{{ skaterstat.goals }}</td>
                            <td headers="A">{{ skaterstat.assists }}</td>
                            <td headers="P">{{ skaterstat.points }}</td>
                            <td headers="PIM">{{ skaterstat.pim }}</td>
                            <td headers="PM">{{ skaterstat.plusmin }}</td>
                            <td headers="T">{{ skaterstat.toipg }}</td>
                            <td headers="PPG">{{ skaterstat.ppg }}</td>
                            <td headers="PPA">{{ skaterstat.ppa }}</td>
                            <td headers="SHG">{{ skaterstat.shg }}</td>
                            <td headers="SHA">{{ skaterstat.sha }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>  
                </table>
            </div>
            <div id="exptab" class="tab-pane">
                <table id="expanded-skater-stats" class="table table-dark table-hover" cellspacing="0" width="100%"><caption>Expanded Stats</caption>
                    <thead>
                        <tr>
                            <th id="P">Player</th>
                            <th id="ETOIPG">ETOIPG</th>
                            <th id="SHTOIPG">SHTOIPG</th>
                            <th id="PPTOIPG">PPTOIPG</th>
                            <th id="S">Shots</th>
                            <th id="SP">S%</th>
                            <th id="FP">FO%</th>
                            <th id="B">Blocks</th>
                            <th id="H">Hits</th>
                            <th id="SH">Shifts</th>
                            <th id="GWG">GWG</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for skaterstat in skaterstats %}
                        <tr>
                            <td headers="P">{{ skaterstat.player.name }}</td>
                            <td headers="ETOIPG">{{ skaterstat.etoipg }}</td>
                            <td headers="SHTOIPG">{{ skaterstat.shtoipg }}</td>
                            <td headers="PPTOIPG">{{ skaterstat.pptoipg }}</td>
                            <td headers="S">{{ skaterstat.shots }}</td>
                            <td headers="SP">{{ skaterstat.shotpct }}</td>
                            <td headers="FP">{{ skaterstat.fopct }}</td>
                            <td headers="B">{{ skaterstat.blocks }}</td>
                            <td headers="H">{{ skaterstat.hits }}</td>
                            <td headers="SH">{{ skaterstat.shifts }}</td>
                            <td headers="GWG">{{ skaterstat.gwg }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="atttab" class="tab-pane">
                <br>The skater stats tables contain the following attributes:<br>
                <b>Basic Stats</b>
                <ul>
                    <li><b>Games:</b> Skater number of games played</li>
                    <li><b>Goals:</b> Skater total goals scored</li>
                    <li><b>Assists:</b> Skater total assists made</li>
                    <li><b>Points:</b> Skater total points (points is the sum of goals and assists)</li>
                    <li><b>PIM:</b> Skater total penalty minutes</li>
                    <li><b>+/-:</b> Skater plus/minus rating (a player receives +1 for each team goal for while on ice and -1 for each team goal against while on ice)</li>
                    <li><b>TOIPG:</b> Skater time on ice per game in MM:SS format</li>
                    <li><b>PPG:</b> Skater total power play goals scored</li>
                    <li><b>PPA:</b> Skater total power play assists made</li>
                    <li><b>SHG:</b> Skater total shorthanded goals scored</li>
                    <li><b>SHA:</b> Skater total shorthanded assists made</li>
                </ul>
                <b>Expanded Stats</b>>
                <ul>
                    <li><b>ETOIPG:</b> Skater even strength time on ice per game in MM:SS format</li>
                    <li><b>SHTOIPG:</b> Skater shorthanded time on ice per game in MM:SS format</li>
                    <li><b>PPTOIPG:</b> Skater power play time on ice per game in MM:SS format</li>
                    <li><b>Shots:</b> Skater total shot attempts</li>
                    <li><b>S%:</b> Skater shot percentage (shot percentage is goals/shots)</li>
                    <li><b>FO%:</b> Skater faceoff percentage</li>
                    <li><b>Blocks:</b> Skater total shots blocked</li>
                    <li><b>Hits:</b> Skater total hits made</li>
                    <li><b>Shifts:</b> Skater total shifts completed</li>
                    <li><b>GWG:</b> Skater total game winning goals</li>
                </ul>
            </div>
        </div></br>
        
        <script src="https://code.highcharts.com/maps/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/heatmap.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        Visualizations related to skater stats (details for each found in respective tab):
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#goalstab">Goals Breakdown</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#asstab">Assists Breakdown</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pointstab">Points Breakdown</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pimstab">PIM Breakdown</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#plustab">Plus/Minus Distribution</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#shottab">Shots vs. Shot%</a></li>
        </ul>
        <div class="tab-content">
            <div id="goalstab" class="tab-pane active">
                <br>The Goals Breakdown visualization shows the makeup of total team goals scored by individual skaters using total number and percentage.
                <div id="container1"></div>
                <script>
                Highcharts.chart('container1', {{ goals_chart|safe }});
                </script>
            </div>
            <div id="asstab" class="tab-pane">
                <br>The Assists Breakdown visualization shows the makeup of total team assists made by individual skaters using total number and percentage.
                <div id="container2"></div>
                <script>
                Highcharts.chart('container2', {{ assists_chart|safe }});
                </script>
            </div>
            <div id="pointstab" class="tab-pane">
                <br>The Points Breakdown visualization shows the makeup of total team points accrued by individual skaters using total number and percentage.
                <div id="container3"></div>
                <script>
                Highcharts.chart('container3', {{ points_chart|safe }});
                </script>
            </div>
            <div id="pimstab" class="tab-pane">
                <br>The PIM Breakdown visualization shows the makeup of total team penalty minutes committed by individual skaters using total number and percentage.
                <div id="container4"></div>
                <script>
                Highcharts.chart('container4', {{ pim_chart|safe }});
                </script>
            </div>
            <div id="plustab" class="tab-pane">
                <br>The Plus/Minus Distribution visualization shows the rating spectrum for each team skater.
                <div id="container5"></div>
                <script>
                Highcharts.chart('container5', {{ plus_chart|safe }});
                </script>
            </div>
            <div id="shottab" class="tab-pane">
                <br>The Shots vs. Shot% visualization shows the correlation between player shots and player shot percentage.<br>
                Left and Up: More shots with less success. Left and Down: Less shots with less success. Right and Up: More shots with more success. Right and Down: Less shots with more success.
                <div id="container6"></div>
                <script>
                Highcharts.chart('container6', {{ shot_chart|safe }});
                </script>
            </div>
        </div>

{% endblock content %}