{% extends 'stormstats/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h2>Goalie Game Stats</h2>
    <body>
        StormStats Goalie Game Stats Page<br><br>
        {% if error_message %}
        <h3><span class="error">{{ error_message }}</span></h3><br>
        {% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            <select class="selectpicker" data-live-search="true" data-style="btn-danger" data-width="fit" name="playerId">
                {% for player in players %}
                <option value="{{ player.player_id }}">{{ player.name }}</option>
                {% endfor %} 
            </select>
            <input class="btn btn-dark" type="submit" value="Data Me">
        </form><br>
        <b>Showing data for {{ current_goalie }}</b></br>

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#basictab">Basic Goalie Stats</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exptab">Expanded Goalie Stats</a></li>
        </ul>

        <script>
            $(document).ready(function() {
                $('table.table').DataTable({
                    responsive: true,
                    scrollY: 400,
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    fixedColumns: true,
                    fixedHeader: true,
                    info: false,
                    oLanguage: {
                        sSearch: "Search the Table: "
                    },
                    columnDefs: [{"type":"date", "targets":0}],
                    order: [[0, "desc"]]
                });

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    $($.fn.dataTable.tables(true)).DataTable()
                        .columns.adjust()
                        .responsive.recalc();
                });
            });
        </script>

        <div class="tab-content">
            <div id="basictab" class="tab-pane active">
                <table id="basic-goalie-stats" class="table table-dark table-hover" cellspacing="0" width="100%"><caption>Basic Stats</caption>
                    <thead>
                        <tr>
                            <th id="P">Game Date</th>
                            <th id="O">Opponent</th>
                            <th id="D">Decision</th>
                            <th id="GA">GoalsA</th>
                            <th id="SA">ShotsA</th>
                            <th id="S">Saves</th>
                            <th id="SP">SV%</th>
                            <th id="TOI">TOI</th>
                            <th id="PIM">PIM</th>
                            <th id="G">Goals</th>
                            <th id="A">Assists</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for goaliestat in goaliegamestats %}
                    <tr>
                        <td headers="P">{{ goaliestat.game.date }}</td>
                        <td headers="O">{{ goaliestat.game.opponent }}</td>
                        <td headers="D">{{ goaliestat.wl }}</td>
                        <td headers="GA">{{ goaliestat.goalsa }}</td>
                        <td headers="SA">{{ goaliestat.shotsa }}</td>
                        <td headers="S">{{ goaliestat.saves }}</td>
                        <td headers="SP">{{ goaliestat.svpct }}</td>
                        <td headers="TOI">{{ goaliestat.toi }}</td>
                        <td headers="PIM">{{ goaliestat.pim }}</td>
                        <td headers="G">{{ goaliestat.goals }}</td>
                        <td headers="A">{{ goaliestat.assists }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="exptab" class="tab-pane">
                <table id="expanded-goalie-stats" class="table table-dark table-hover" cellspacing="0" width="100%"><caption>Expanded Stats</caption>
                    <thead>
                        <tr>
                            <th id="P">Game Date</th>
                            <th id="O">Opponent</th>
                            <th id="ESSV">ES Saves</th>
                            <th id="PPSV">PP Saves</th>
                            <th id="SHSV">SH Saves</th>
                            <th id="ESS">ES Shots</th>
                            <th id="PPS">PP Shots</th>
                            <th id="SHS">SH Shots</th>
                            <th id="ESP">ES SV%</th>
                            <th id="PPP">PP SV%</th>
                            <th id="SHP">SH SV%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for goaliestat in goaliegamestats %}
                        <tr>
                            <td headers="P">{{ goaliestat.game.date }}</td>
                            <td headers="O">{{ goaliestat.game.opponent }}</td>
                            <td headers="ESSV">{{ goaliestat.essaves }}</td>
                            <td headers="PPSV">{{ goaliestat.ppsaves }}</td>
                            <td headers="SHSV">{{ goaliestat.shsaves }}</td>
                            <td headers="ESS">{{ goaliestat.esshots }}</td>
                            <td headers="PPS">{{ goaliestat.ppshots }}</td>
                            <td headers="SHS">{{ goaliestat.shshots }}</td>
                            <td headers="ESP">{{ goaliestat.essvpct }}</td>
                            <td headers="PPP">{{ goaliestat.ppsvpct }}</td>
                            <td headers="SHP">{{ goaliestat.shsvpct }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div></br>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/heatmap.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#savetab">Save Count Per Game</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#shottab">Shots Against Per Game</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#svpcttab">Save% Per Game</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#goaltab">GoalsA vs. ShotsA Progession</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#restab">Goalie Result by Opponent</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#svpctopptab">Save% by Opponent</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gaaopptab">GAA by Opponent</a></li>
        </ul>
        <div class="tab-content">
            <div id="savetab" class="tab-pane active">
                <div id="container1"></div>
                <script>
                Highcharts.chart('container1', {{ save_chart|safe }});
                </script>
            </div>
            <div id="shottab" class="tab-pane">
                <div id="container2"></div>
                <script>
                Highcharts.chart('container2', {{ shot_chart|safe }});
                </script>
            </div>
            <div id="svpcttab" class="tab-pane">
                <div id="container3"></div>
                <script>
                Highcharts.chart('container3', {{ svpct_chart|safe }});
                </script>
            </div>
            <div id="goaltab" class="tab-pane">
                <div id="container4"></div>
                <script>
                Highcharts.chart('container4', {{ goal_chart|safe }});
                </script>
            </div>
            <div id="restab" class="tab-pane">
                <div id="container5"></div>
                <script>
                Highcharts.chart('container5', {{ results_chart|safe }});
                </script>
            </div>
            <div id="svpctopptab" class="tab-pane">
                <div id="container6"></div>
                <script>
                Highcharts.chart('container6', {{ svpctopp_chart|safe }});
                </script>
            </div>
            <div id="gaaopptab" class="tab-pane">
                <div id="container7"></div>
                <script>
                Highcharts.chart('container7', {{ gaaopp_chart|safe }});
                </script>
            </div>
        </div>
    </body>
{% endblock content %}