body {
    background-color: rgb(202, 202, 202);
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

.nav-item {
  background-color: black;
  margin: 5px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: gray;
}

.nav-pills .nav-link.active {
  background-color: red;
  color: black;
}

.btn-danger {
  background-color: red;
  border-color: black;
}

.btn-dark {
  border-color: black;
}

caption {
  caption-side: top;
}

.table-responsive {
  height: 400px;
  overflow: scroll;
}

thead tr:nth-child(1) th {
  background: black;
  position: sticky;
  top: 0;
}