{% extends 'stormstats/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h2>Skater Game Stats</h2>
    <body>
        StormStats Skater Game Stats Page<br><br>
        {% if error_message %}
        <h3><span class="error">{{ error_message }}</span></h3><br>
        {% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            <select class="selectpicker" data-live-search="true" data-style="btn-danger" data-width="fit" name="playerId">
                {% for player in players %}
                <option value="{{ player.player.player_id }}">{{ player.player.name }}</option>
                {% endfor %} 
            </select>
            <input class="btn btn-dark" type="submit" value="Data Me">
        </form><br>
        <b>Showing data for {{ current_skater}}</b><br>

        <script>
            $(document).ready(function() {
                $('#basic-skater-stats').dataTable({
                    "pageLength": 20,
                    "columnDefs" : [{"type":"date", "targets":0}],
                    "order": [[0, "desc"]]
                });
            });
        </script>
        
        <div class="table-responsive">
            <table class="table table-dark table-hover" id="basic-skater-stats"><caption>Basic Stats</caption>
                <thead>
                    <tr>
                        <th id="P">Game Date</th>
                        <th id="O">Opponent</th>
                        <th id="G">Goals</th>
                        <th id="A">Assists</th>
                        <th id="P">Points</th>
                        <th id="PIM">PIM</th>
                        <th id="PM">+/-</th>
                        <th id="T">TOI</th>
                        <th id="PPG">PPG</th>
                        <th id="PPA">PPA</th>
                        <th id="SHG">SHG</th>
                        <th id="SHA">SHA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for skaterstat in skatergamestats %}
                    <tr>
                        <td headers="P">{{ skaterstat.game.date }}</td>
                        <td headers="O">{{ skaterstat.game.opponent }}</td>
                        <td headers="G">{{ skaterstat.goals }}</td>
                        <td headers="A">{{ skaterstat.assists }}</td>
                        <td headers="P">{{ skaterstat.points }}</td>
                        <td headers="PIM">{{ skaterstat.pim }}</td>
                        <td headers="PM">{{ skaterstat.plusmin }}</td>
                        <td headers="T">{{ skaterstat.toi }}</td>
                        <td headers="PPG">{{ skaterstat.ppg }}</td>
                        <td headers="PPA">{{ skaterstat.ppa }}</td>
                        <td headers="SHG">{{ skaterstat.shg }}</td>
                        <td headers="SHA">{{ skaterstat.sha }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script>
            $(document).ready(function() {
                $('#expanded-skater-stats').dataTable({
                    "pageLength": 20,
                    "columnDefs" : [{"type":"date", "targets":0}],
                    "order": [[0, "desc"]]
                });
            });
        </script>

        <div class="table-responsive">
            <table class="table table-dark table-hover" id="expanded-skater-stats"><caption>Expanded Stats</caption>
                <thead>
                    <tr>
                        <th id="P">Game Date</th>
                        <th id="O">Opponent</th>
                        <th id="ETOI">ETOI</th>
                        <th id="SHTOI">SHTOI</th>
                        <th id="PPTOI">PPTOI</th>
                        <th id="S">Shots</th>
                        <th id="B">Blocks</th>
                        <th id="H">Hits</th>
                        <th id="FOW">FOW</th>
                        <th id="FOT">FOT</th>
                        <th id="TA">Takeaways</th>
                        <th id="GA">Giveaways</th>
                    </tr>
                </thead>
                <tbody>
                    {% for skaterstat in skatergamestats %}
                    <tr>
                        <td headers="P">{{ skaterstat.game.date }}</td>
                        <td headers="O">{{ skaterstat.game.opponent }}</td>
                        <td headers="ETOI">{{ skaterstat.etoi }}</td>
                        <td headers="SHTOI">{{ skaterstat.shtoi }}</td>
                        <td headers="PPTOI">{{ skaterstat.pptoi }}</td>
                        <td headers="S">{{ skaterstat.shots }}</td>
                        <td headers="B">{{ skaterstat.blocks }}</td>
                        <td headers="H">{{ skaterstat.hits }}</td>
                        <td headers="FOW">{{ skaterstat.fow }}</td>
                        <td headers="FOT">{{ skaterstat.fot }}</td>
                        <td headers="TA">{{ skaterstat.ta }}</td>
                        <td headers="GA">{{ skaterstat.ga }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><br>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#pointstab">Player Point Progression</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#timetab">Player Time on Ice</a></li>
        </ul>
        <div class="tab-content">
            <div id="pointstab" class="tab-pane active">
                <div id="container1"></div>
                <script>
                Highcharts.chart('container1', {{ stats_chart|safe }});
                </script>
            </div>
            <div id="timetab" class="tab-pane">
                <div id="container2"></div>
                <script>
                Highcharts.chart('container2', {{ time_chart|safe }});
                </script>
            </div>
        </div>
    </body>
{% endblock content %}